$border-color: #555
$border: 1px solid $border-color
$padding-width: 5px


$leftColumn-width: 300px  
    
    
$topPanel-height: 35px
$topPanel-content-margin: 5px
$topPanel-button-height: $topPanel-height - 2 * $topPanel-content-margin
$messageList-margin: 50px


$font-color: #233527
$smallFont-size: 14px



h1,h2,h3,h4,h5,h6
    margin: 0px




    
.regAuthFormsPanel
    width: 50%
    height: 50%
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto

.regAuthForm
    box-sizing: border-box
    height: 50%
    padding: $padding-width
    border: $border

.appPanel
    height: 100%



.modalWindow
    box-sizing: border-box
    background-color: white
    padding: 20px
    height: 400px
    width: 500px
    position: absolute
    left: 50%
    top: 50%
    z-index: 9000
    transform: translate(-50%, -50%)
    border: $border

.coverDiv
    position: fixed
    top: 0
    left: 0
    z-index: 9001
    width: 100%
    height: 100%
    background-color: transparent
    




    
    
.topPanel
    position: fixed
    top: 0
    left: 0
    width: 100%
    background-color: #ace6ba
    height: $topPanel-height
    button
        height: $topPanel-button-height
        border-radius: $topPanel-button-height / 4
        background-color:  #8bcc9a
        border: 0px solid white
        font-size: $smallFont-size
        color: $font-color
    span
        margin: 5px
        font-size: $smallFont-size
        color: $font-color
        

.topPanel>div
    display: inline-block
    margin: 5px

.topPanel>div:first-child
    width: $leftColumn-width






.mainPanel
    box-sizing: border-box
    padding-top: $topPanel-height
    height: 100vh

.mainPanel>div
    box-sizing: border-box
    display: inline-block
    padding: 10px

.userChatsPanel
    width: $leftColumn-width

.currentChatPanel
    width: calc( 100% - #{$leftColumn-width} )

.currentChatPanel>div
    margin-left: $messageList-margin
    margin-right: $messageList-margin