$border-color: #555
$border: 1px solid $border-color
$no-border: 0px solid white
$padding-width: 5px

$left-column-width: 500px  

$top-panel-height: 35px
$top-panel-content-margin: 5px
$top-panel-button-height: $top-panel-height - 2 * $top-panel-content-margin

$font-color: #233527
$smallFont-size: 14px

@mixin vertical-flex-panel()
    display: flex
    border: 1px solid #afafaf
    flex-direction: column
    justify-content: space-between
    position: relative
    height: 100%

h1,h2,h3,h4,h5,h6
    margin: 0px

.reg-auth-forms-panel
    width: 50%
    height: 50%
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto

.reg-auth-form
    box-sizing: border-box
    height: 50%
    padding: $padding-width
    border: $border

.app-panel
    height: 100%
    div
        box-sizing: border-box

.modal-window
    box-sizing: border-box
    background-color: white
    padding: 20px
    height: 400px
    width: 500px
    position: absolute
    left: 50%
    top: 50%
    z-index: 9000
    transform: translate(-50%, -50%)
    border: $border

.cover-div
    position: fixed
    top: 0
    left: 0
    z-index: 9001
    width: 100%
    height: 100%
    background-color: transparent

.top-panel
    position: fixed
    display: flex
    top: 0
    left: 0
    width: 100%
    background: linear-gradient(to top, #f5feea, #ace6ba)
    height: $top-panel-height
    button
        height: $top-panel-button-height
        border-radius: $top-panel-button-height / 4
        background: linear-gradient(to top, #c7e6ce, #97d4a5)
        border: $no-border
        font-size: $smallFont-size
        color: $font-color
    button:hover
        background: linear-gradient(to top,  #c7e6dc, #97d4ba)
    span
        margin: 5px
        font-size: $smallFont-size
        color: $font-color
    > div
        display: inline-block
        margin: 5px
    > div:last-child
        right: 0px

.main-panel
    position: fixed
    display: flex
    padding-top: $top-panel-height
    width: 100%
    height: 100vh
    > div
        display: inline-block
    form
        padding: 10px
        background: linear-gradient(to bottom, #f5feea, #ace6ba)
        border-top: 1px solid #afafaf

.user-chats-panel
    width: $left-column-width
    background-color: #ddebe8
    > div
        @include vertical-flex-panel()

.current-chat-panel
    width: 100%
    > div
        @include vertical-flex-panel()