@import "../ScrollList.sass"

$no-border: 0px solid white

.message-list
    @include scroll-list
    > div
        display: flex
        flex-direction: column
        justify-content: flex-start
        > div.current_user_message
            align-self: flex-end
        > div.another_user_message
            align-self: flex-start