@import "../ScrollList.sass"
$margin: 5%

.message-list
    @include scroll-list
    > div
        margin-left: $margin
        margin-right: $margin
        display: flex
        flex-direction: column
        justify-content: flex-start