$padding-width: 20px
$border-radius: 10px

.specialMessagesPreprocessorMenu
    padding: 40px 10px 10px 10px
    background-color: #dbf0eb
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    >h4
        margin: 6px