$close-button-size: 22px
$close-button-margin: 10px

$font-color: #233527
$smallFont-size: 14px

$no-border: 0px solid white
    
.closeButton
    position: absolute
    top: $close-button-margin
    right: $close-button-margin
    height: $close-button-size
    width: $close-button-size
    border-radius: $close-button-size
    border: $no-border
    font-size: $smallFont-size
    color: $font-color
    background: linear-gradient(to bottom, #c7e6dc, #97d4ba)
.closeButton:hover
    background: linear-gradient(to top, #c7e6ce, #97d4a5)