$padding-width: 20px
$border-radius: 10px

.authenticationAndRegistrationForm
    > form
        box-sizing: border-box
        padding: $padding-width
        background-color: #dbf0eb
        box-shadow: 0 0 10px rgba(0,0,0,0.5)

    
